
.cloak {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #4E54C8 0%, #8F94FB 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    .logo {
      display: flex;
      align-items: center;
  
      .wrapper-svg {
        width: 159px;
        height: 132px;
      }
      a {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 300;
        font-size: 8rem;
        line-height: 96px;
        margin-left: 20px;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  
  @media  screen and (max-width:950px) {
      .cloak .logo {
        display: flex;
        flex-direction: column;

        a {
          font-size: 4rem;
        }
      }
  } 
  @media  screen and (max-width:400px) {
    .cloak .logo {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 3rem;
      }
    }
}